{% assign locale = include.locale | default: site.locale %}
{% assign crumbs = page.url | split: '/' %}
{% assign crumb_path = '' %}

<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="{{ '/' | relative_url }}" itemprop="item">
        <span itemprop="name">{{ site.data.ui-text[locale].breadcrumb_home_label | default: "Home" }}</span>
      </a>
      <meta itemprop="position" content="1">
    </li>
    <span class="sep">{{ site.data.ui-text[locale].breadcrumb_separator | default: "/" }}</span>

    {% assign position = 1 %}
    {% for crumb in crumbs offset: 1 %}
      {% unless forloop.last %}
        {% assign position = position | plus: 1 %}
        {% assign crumb_path = crumb_path | append: '/' | append: crumb %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{{ crumb_path | append: '/' | relative_url }}" itemprop="item">
            <span itemprop="name">{{ crumb | url_decode | replace: '-', ' ' | capitalize }}</span>
          </a>
          <meta itemprop="position" content="{{ position }}">
        </li>
        <span class="sep">{{ site.data.ui-text[locale].breadcrumb_separator | default: "/" }}</span>
      {% endunless %}
    {% endfor %}

    <li class="current"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>{{ page.title }}</li>
  </ol>
</nav>
